<h1>Listing pull_requests</h1>

<table>
  <thead>
    <tr>
      <th>URL</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pull_requests.each do |pull_request| %>
    <tr>
      <td><%= link_to pull_request.url, pull_request.url, target: '_new' %></td>
      <td><%= link_to 'Take', pull_request, method: :delete,
              data: { confirm: 'Are you sure?' }, id: "take-#{pull_request.id}" %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Pull request', new_pull_request_path %>
