<h1 class="header">Welcome to<br/>
  <big>Pull Request R<%= image_tag("roulette_spins_128x129.gif",
                                   class: "undescended-letter-size-image" )
                      %>ulette</big></h1>

<% if signed_in? %>
  <%= link_to('Submit a New Pull Request', new_pull_request_path,
              id: 'submit-link', class: 'button success radius' ) %>
<% end %>

<table id="pr-list">
  <% if @pull_requests.any? %>
    <thead>
      <tr>
        <th>URL</th>
        <th>Author</th>
        <th>Submitter</th>
        <th>Reviewer</th>
      </tr>
    </thead>
    <tbody>
      <%= render @pull_requests %>
    </tbody>
  <% else %>
    <tbody>
      <tr>
        <td>
          Sorry, there are currently no pull requests awaiting review!&nbsp;
          Please submit one, by clicking the link above.
        </td>
      </tr>
    </tbody>
  <% end%>
</table>
