<h1>Welcome to Pull Request Roulette!</h1>

<p>The basic idea:</p>
<ul>
  <li>Coders tell us about their pull requests on
  <%= link_to('Github', 'https://github.com', target: '_new') %> public
  repos.</li>
  <li>Reviewers ask for a pull request to review.</li>
</ul>

<p>For now, there is no need to establish an account here.&nbsp; Just log in
via <%= link_to('Github', 'https://github.com', target: '_new') %>.&nbsp; We
never see, let alone record, your credentials.&nbsp; Later, we may ask for it
so we can tell you about new features here, but we'll try to keep it optional
and low-volume.</p>

TODO: SIGN IN/OUT LINKS WILL GO HERE
