a {
  color: white;
  &:visited { color: white; }
  &:hover {
    background-color: white;
    color: green; 
    &:active { color: #0f0; }
  }
}

body {
  background-color: green;
  color: #fff;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.5em;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  max-width: 52em;
  min-width: 20em;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

h1 { line-height: 1.2em; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
}

#pr-list {
  td {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
  }
  tr { margin: 0 }
  tr:nth-child(odd) { background-color: red }
  tr:nth-child(even) { background-color: black }
}

#notice {
  color: green;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #fff;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    list-style: square;
  }
}

#submit-link {
  font-size: 1.2em;
  font-weight: bold;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}
