$first-stripe-color: red;
$second-stripe-color: black;
$main-bg-color: green;
$text-color: white;

a {
  color: $text-color;
  &:visited { color: $text-color; }
  &:hover {
    background-color: $text-color;
    color: $main-bg-color; 
    &:active { color: #0f0; }
  }
}

article {
  margin: 2em 0;
  h1 {
    background: $first-stripe-color;
    padding: 0.5em;
  }
  p {
    background: $second-stripe-color;
    padding: 0.5em;
  }
}

body {
  background-color: $main-bg-color;
  color: $text-color;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.5em;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  max-width: 52em;
  min-width: 20em;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

h1 { line-height: 1.2em; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
}

#pr-list {
  td {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
  }
  tr { margin: 0 }
  tr:nth-child(odd) { background-color: $first-stripe-color }
  tr:nth-child(even) { background-color: $second-stripe-color }
}

#notice {
  color: $text-color;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: black;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: red;
  }
  ul li {
    list-style: square;
  }
}

#submit-link {
  font-size: 1.2em;
  font-weight: bold;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}
