<% if signed_in? %>
	<a href="#" class="button radius" data-dropdown="drop">
   		<%= current_user_handle %> (<%= current_user_name %>)
  	</a>
<% else %>
	<a href="#" class="button radius dropdown" data-dropdown="drop">
   		Signed out
  	</a>
<% end %>

