<% if signed_in? %>
  <span class="button radius" data-dropdown="drop">
    <%= "On Github as #{current_user_handle} (#{current_user_name})" %>
  </span>
<% else %>
  <%= link_to("Sign in via Github", sign_in_path(return_to: request.url), class: "button radius", 'data-no-turbolink' => true) %>
<% end %>

