<% if signed_in? %>
	<a href="#" class="button radius" data-dropdown="drop">
   		<%= current_user_handle %> (<%= current_user_name %>)
  	</a>
<% else %>
	<%= link_to "Sign In", sign_in_path, class: "button radius" %>
<% end %>

